<meta charset="UTF-8">
<title>AlwaysOnline</title>

<link rel="shortcut icon" href="/public/icons8-место-нахождения-3d-fluency-32.png" type="image/png">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="./public/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<style>
    body { padding-top:50px; }
</style>