<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="first">Ввойдите в свой аккаунт</h1>
        <p class="second">Добро пожаловать в AlwaysOnline</p>
        <form id="formLogin" method="post">
            <div>Ваш логин</div>
            <input type="text" name="userLogin" value="">
            <div>Ваш пароль</div>
            <input type="text" name="userPassword" value="">
            <input type="submit">
        </form>

        <!--        <form method="post">-->
<!--            <label>Имя</label><br>-->
<!--            <input type="text" name="userName" /><br><br>-->
<!--            <label>Возраст</label><br>-->
<!--            <input type="number" name="userAge" /><br><br>-->
<!--            <input type="submit" value="Отправить" />-->
<!--        </form>-->


    </div>
    <a class="navbar-brand" href="login">Нет аккаунта? Зарегистрироваться</a>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
<script src="/public/js/client.js"></script>
</html>